html,
body * {
  font-size: x-large;

  font-family: 'Advent Pro', sans-serif;
}

h1 {
  font-family: 'Exo 2', sans-serif !important;
  color: tomato;
  font-weight: 600;
  font-size: 94px;
}

.material-symbols-outlined {
  color: tomato;
  font-size: 74px;
}

span.info {
  font-size: 16px;
  color: lime;
}


mytheme: {
          
  "primary": "#bef264",
           
  "secondary": "#e11d48",
           
  "accent": "#5eead4",
           
  "neutral": "#191D24",
           
  "base-100": "#2A303C",
           
  "info": "#fbbf24",
           
  "success": "#4d7c0f",
           
  "warning": "#ea580c",
           
  "error": "#dc2626",
}